

<h4>Flop Reviews</h4>

<h5>My Reviews</h5>

<ul class="list-unstyled">
  <li *ngFor="let review of reviews"
    class="bg-dark text-light p-1 pl-3 rounded mb-2 d-flex justify-content-between"
    style="cursor:pointer"
    
    (click)="editReview(review)"
  >

    <span>{{review.flop}}</span>
    <div>
    <i *ngFor="let number of numbers | slice:0:review.stars" class="material-icons">star</i>
    </div>
  </li>
</ul>
<!-- don't show the form unless you're creating a new review or editing a review -->
<form autocomplete="off"
  #reviewForm="ngForm" (ngSubmit)="submitForm(reviewForm.form)"
  *ngIf="editing || creating"
>

  <div class="form-group">
    <span *ngIf="flopModel.invalid && isSubmitted" class="validation-error">You must select a flop.</span>
    <select id="flopselect" class="mb-2" name="flop" #flopModel="ngModel" [(ngModel)]="model.flop" required >
      <!-- set the value -->
      <option *ngFor="let flop of flopList" value="{{flop.title}}">{{flop.title}}</option>
    </select>
  </div>

  <div class="form-group">
    <label for="">Stars</label><span class="validation-error" *ngIf="isSubmitted &&starsModel.invalid">*</span><br>
    <span class="validation-error" *ngIf="isSubmitted &&starsModel.invalid">You must select a number of stars</span>

      <div style="display:flex; justify-content: space-between; width:100px">
        <div>
          <input  type="radio" name="stars" id="star1" [value]="1" [(ngModel)]="model.stars" #starsModel="ngModel" required><br>
          <label for="star1">1</label>
        </div>
        <div>
          <input  type="radio" name="stars" id="star2" [value]="2" [(ngModel)]="model.stars" #starsModel="ngModel" required><br>
          <label for="star2">2</label>
        </div>
        <div>
          <input  type="radio" name="stars" id="star3" [value]="3" [(ngModel)]="model.stars" #starsModel="ngModel" required><br>
          <label for="star3">3</label>
        </div>
        <div>
          <input  type="radio" name="stars" id="star4" [value]="4" [(ngModel)]="model.stars" #starsModel="ngModel" required><br>
          <label for="star4">4</label>
        </div>
        <div>
          <input  type="radio" name="stars" id="star5" [value]="5" [(ngModel)]="model.stars" #starsModel="ngModel" required><br>
          <label for="star5">5</label>
        </div>
      </div>
  </div>



  
  <div class="form-group">
    <label for="review">Review<span class="validation-error" *ngIf="isSubmitted && reviewModel.invalid">*</span><br>
      <span class="validation-error" *ngIf="isSubmitted && reviewModel.invalid">You must enter a review that is 20 or more characters.</span>
    </label>
    <textarea name="review" rows="5" [(ngModel)]="model.review"
      type="text" class="form-control" id="flopname" minlength="20"
      #reviewModel="ngModel" required></textarea>
  </div>


  

  <button type="submit" class="btn btn-primary mr-1">Save</button>
  <button type="button" class="btn btn-danger"
  (click)="cancel(reviewForm.form)"
  >Cancel</button>
</form>

<!-- only show this button when the form isn't visible -->
<button *ngIf="!creating && !editing" type="button" class="btn btn-info" (click)="creating = true"
  >New Review</button>
